
 

/*%%%%%%%%%%%% reset stylesheet by Richard Clark of html5doctor.com %%%%%%%%%%%%%*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

ul, ol { list-style:none; }

blockquote, q { quotes:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; outline: 0; }

table { border-collapse:collapse; border-spacing:0; }

address {display:inline; }
/*%%%%%%%%%%%% END %%%%%%%%%%%%*/

/*%%%%%%%%%%%% GENERAL STYLE %%%%%%%%%%%%*/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #444444;
	max-width: 60%;
	margin: 5% auto 5% auto;
	padding: 0 40px;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 6px;
	box-shadow: 0 3px 5px rgba(0,0,0,.25);
	z-index: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: #098332;
}

a:hover {
	color: #023814;
}

header#title {
	padding-top: 40px;
	margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #098332;
}



/*%%%%%%%%%%%% NAVIGATION BAR %%%%%%%%%%%%%*/
nav#navigation_bar {
	width: 100%; 
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

    background-color: rgb(206, 241, 209);
    overflow: hidden;

}

nav#navigation_bar ul {
	list-style: none;
	margin: 0 auto;
	width: 100%;
}

nav#navigation_bar ul li {
	display: inline;
	float: left;
	margin: 0;
}

nav#navigation_bar ul li a {
	
	color: #098332;
	display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
	
}


nav#navigation_bar ul li a:hover {
	background: #098332;
	    color: #fff;
	    text-shadow: none;

}


/*%%%%%%%%%%%% SECTION %%%%%%%%%%%%%*/
section#content {
	float: right;
	width: 62%;
	margin: 0 0px 2% 0px;
	padding: 20px 0;
}

/*%%%%%%%%%%%% ARTICLE %%%%%%%%%%%%%*/
article.video {
    
    position: relative;
	margin: 0 auto;
	padding: 17px 20px 0 20px;
	font-size: .95em;
	line-height: 1.5;
}

article.video h2 {
	font-size: 2.1em;
	letter-spacing: 1.5;
	
}

article.video header {
	margin-bottom: 1%;
}

/*%%%%%%%%%%%% VIDEO %%%%%%%%%%%%%*/
video {
    
	max-width: 100%;
	background: #ffffff;
	border: 1px solid #999999;
	display: block;
	margin: 0px auto 3px;
	padding: 6px;
}



div.comment-author span{
	border-top: 1px solid #999999;
	font-style: italic;
	
}
div.comment-author {
	margin-top: 20px;
	font-style: italic;
	font-size: .90em;
	
	padding-top: 5px;
	margin-bottom: 30px;
}

/*%%%%%%%%%%%% SIDEBAR %%%%%%%%%%%%%*/

/* Form */
nav label {
	width : 100%;
}
input[type=text],
input[type=date]
{
    width: 100%;
	
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=button],
input[type=submit] {
max-width: 200px;
background-color: #4CAF50;
color: white;
padding: 10px 15px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=button]:hover,
input[type=submit]:hover {
background-color: #45a049;
}
aside div{
	padding: 5%;
}

aside .form_div {
	border-radius: 2px;
	background-color: #f2f2f2;
	padding: 5%;
	}

aside#sidebar {
	margin-top: 3%;
	float: left;
	width: 35%;
	
}
nav.side_navigation {
	margin-right: 3%; 
}


nav.side_navigation h5 {
    color: #098332;
	margin-bottom: 3%;
	margin-top: 10%;
}

nav.side_navigation ul li {
	margin-bottom: 5px;
	margin-top: 5px;
}



/*%%%%%%%%%%%% FOOTER %%%%%%%%%%%%%*/
footer#footer {		
	max-width: 100%;
	margin: 10px auto;
	padding: 10px 0;
	text-align: left;
	padding-bottom: 20px;
	border-top: 1px solid #999999;
}

.form-log-in{
	max-width: 500px;
	padding: px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-log-in-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}

.form-log-in label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-log-in label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

.form-log-in .tel-number-field{
	width: 60px;
	text-align: center;
}

.form-log-in input.input-field, .form-log-in .select-field{
	max-width: 60%;	
}
.form-log-in input.input-field, 
.form-log-in .tel-number-field, 
.form-log-in .textarea-field, 
 .form-log-in .select-field{
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}




div.cleaner {
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	
}


/*%%%%%%%%%%%% Useful css %%%%%%%%%%%%%*/
input {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input#videoUrl {
	width: 70%;
}

/*Used for the point 4.c*/
.preview video{
	max-width: 45%;
	display:inline;
	margin-right: 5px;
}

/*Used for the point 4.d*/
.rotate {
	transform:rotate(90deg);
}

/*Used for the point 5.b*/
.mirror {
	transform:scale(-1,1);
}

  .b {
	border: 0.5vmin solid black;
	margin: 0 0 0 0;
	padding: 0;
  }
  
  .r {
	border-radius: 100%;
  }




